@use "../settings" as *;
.footer__container {
  background-color: $azul_toroto;
}

.footer__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 0 12.5rem;
  a {
    margin: 0 2.5rem 0 0;
  }
}

.footer__logo {
  a {
    margin: 0 0 0 0;
  }
}

@media (max-width: 575.98px) {
  .footer__main {
    height: 56px;
    padding: 0 1rem;
    a {
      margin: 0 1rem 0 0;
      svg {
        transform: scale(0.7);
      }
    }
  }

  .footer__logo {
    a {
      margin: 0 0 0 0;
    }
  }
}
